# Ocrolus API - OpenAPI 3.0.3 Specification
# Generated: 2026-03-20 13:46:37 UTC

openapi: 3.0.3
info:
  title: Ocrolus API
  description: "Ocrolus document automation platform API. Covers Classify (document identification), Capture (data extraction), Detect (fraud detection), and Analyze (financial metrics).

## Authentication
Use OAuth 2.0 client_credentials grant to obtain a Bearer JWT token (24h expiry).

## Key Conventions
- v1 endpoints use `book_pk` (integer)
- v2 endpoints use `book_uuid` (UUID string)
- Never mix them -- v1 rejects UUIDs, v2 rejects PKs

## Validation Note
Some endpoint paths have conflicting documentation. Run `validate_endpoints.py` against your tenant to confirm paths before production use."
  version: 3.0.0
  contact:
    name: Ocrolus API Support
    url: "https://docs.ocrolus.com"
servers:
  - url: "https://api.ocrolus.com"
    description: Production API
  - url: "https://auth.ocrolus.com"
    description: Authentication
security:
  - bearerAuth: "[]"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "OAuth 2.0 Bearer JWT token (24h expiry, refresh at 12h)"
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://auth.ocrolus.com/oauth/token"
          scopes: {}
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status_code:
          type: integer
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 86400
    Book:
      type: object
      properties:
        pk:
          type: integer
          description: Book primary key (v1)
        uuid:
          type: string
          format: uuid
          description: Book UUID (v2)
        name:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: "date-time"
    FraudSignals:
      type: object
      properties:
        documents:
          type: array
          items:
            type: object
            properties:
              doc_uuid:
                type: string
                format: uuid
              authenticity_score:
                type: integer
                minimum: 0
                maximum: 100
              reason_codes:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      example: "110-H"
                    description:
                      type: string
                    confidence:
                      type: string
                      enum:
                        - HIGH
                        - MEDIUM
                        - LOW
              signals:
                type: array
                items:
                  type: object
tags:
  - name: Authentication
    description: OAuth 2.0 token management
  - name: Book Operations
    description: "Create, read, update, delete Books (v1, book_pk)"
  - name: Document Upload
    description: Upload and manage documents within Books
  - name: Classification
    description: "Document classification / Classify (v2, book_uuid)"
  - name: Data Extraction
    description: "Data extraction / Capture (v1, book_pk)"
  - name: Fraud Detection
    description: "Fraud detection / Detect (v2, book_uuid)"
  - name: Cash Flow Analytics
    description: "Cash flow analytics / Analyze (v2, book_uuid)"
  - name: Income Calculations
    description: "Income calculations (v2, book_uuid)"
  - name: Tag Management
    description: "Transaction tag management (v2, Beta)"
  - name: Encore / Book Copy
    description: Book copy / Encore operations (v1)
  - name: Webhooks (Org)
    description: "Organization-level webhook management (recommended)"
  - name: Webhooks (Account)
    description: "Account-level webhook management (legacy)"
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      operationId: grantToken
      summary: Obtain OAuth 2.0 Bearer Token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  example: client_credentials
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        200:
          description: Token granted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        401:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: OAuth 2.0 client_credentials grant. Returns JWT with 24h expiry. Refresh at 12h.
  /v1/book/create:
    post:
      tags:
        - Book Operations
      operationId: createBook
      summary: Create a new Book
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns dict with book_pk (int) and book_uuid (str).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                book_type:
                  type: string
  /v1/book/delete:
    post:
      tags:
        - Book Operations
      operationId: deleteBook
      summary: Delete a Book
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
  /v1/book/update:
    post:
      tags:
        - Book Operations
      operationId: updateBook
      summary: Update Book properties
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
                name:
                  type: string
  /v1/book/{book_pk}:
    get:
      tags:
        - Book Operations
      operationId: getBook
      summary: Get Book information
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_pk
          in: path
          required: true
          description: Book primary key
          schema:
            type: integer
  /v1/books:
    get:
      tags:
        - Book Operations
      operationId: listBooks
      summary: List all Books
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/book/status:
    get:
      tags:
        - Book Operations
      operationId: getBookStatus
      summary: Get Book processing status
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Some tenants may use /v1/book/{book_pk}/status instead. Run validate_endpoints.py to confirm."
      parameters:
        - name: book_pk
          in: query
          required: true
          description: Book primary key
          schema:
            type: integer
  /v1/book/loan/{loan_id}:
    get:
      tags:
        - Book Operations
      operationId: getBookFromLoan
      summary: Get Book associated with a loan
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: loan_id
          in: path
          required: true
          description: Loan identifier
          schema:
            type: string
  /v1/book/{book_pk}/loan:
    get:
      tags:
        - Book Operations
      operationId: getLoanFromBook
      summary: Get loan details from a Book
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_pk
          in: path
          required: true
          description: Book primary key
          schema:
            type: integer
  /v1/book/upload:
    post:
      tags:
        - Document Upload
      operationId: uploadPdf
      summary: Upload a PDF document
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Max file size: 200MB. form_type is optional; cannot be used for bank statements."
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
                upload:
                  type: string
                  format: binary
                form_type:
                  type: string
  /v1/book/upload/mixed:
    post:
      tags:
        - Document Upload
      operationId: uploadMixedPdf
      summary: Upload a mixed document PDF
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Contains multiple document types in a single PDF.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
                upload:
                  type: string
                  format: binary
  /v1/book/upload/paystub:
    post:
      tags:
        - Document Upload
      operationId: uploadPaystub
      summary: Upload a pay stub PDF
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
                upload:
                  type: string
                  format: binary
  /v1/book/upload/image:
    post:
      tags:
        - Document Upload
      operationId: uploadImage
      summary: Upload an image
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
                upload:
                  type: string
                  format: binary
                image_group:
                  type: string
  /v1/book/finalize-image-group:
    post:
      tags:
        - Document Upload
      operationId: finalizeImageGroup
      summary: Finalize an image group
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
                image_group:
                  type: string
  /v1/book/upload/plaid:
    post:
      tags:
        - Document Upload
      operationId: uploadPlaidJson
      summary: Upload Plaid aggregator JSON
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_pk:
                  type: integer
  /v1/book/import/plaid/asset:
    post:
      tags:
        - Document Upload
      operationId: importPlaidAsset
      summary: Import Plaid Asset Report
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Production only. Requires auditor_id: 'ocrolus'."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                audit_copy_token:
                  type: string
  /v1/document/{doc_uuid}/cancel:
    post:
      tags:
        - Document Upload
      operationId: cancelDocument
      summary: Cancel document verification
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/document/{doc_uuid}/delete:
    post:
      tags:
        - Document Upload
      operationId: deleteDocument
      summary: Delete a document
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/document/{doc_uuid}/download:
    get:
      tags:
        - Document Upload
      operationId: downloadDocument
      summary: Download a document file
      responses:
        200:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/document/{doc_uuid}/upgrade:
    post:
      tags:
        - Document Upload
      operationId: upgradeDocument
      summary: Upgrade document processing type
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_type:
                  type: string
  /v1/document/mixed/upgrade:
    post:
      tags:
        - Document Upload
      operationId: upgradeMixedDocument
      summary: Upgrade mixed document processing
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mixed_doc_id:
                  type: string
                target_type:
                  type: string
  /v1/document/mixed/status:
    get:
      tags:
        - Document Upload
      operationId: getMixedDocumentStatus
      summary: Get mixed document status
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: mixed_doc_id
          in: query
          required: true
          description: Mixed document ID
          schema:
            type: string
  /v2/book/{book_uuid}/classification-summary:
    get:
      tags:
        - Classification
      operationId: getBookClassification
      summary: Get book classification summary
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Identifies 300+ document types with confidence scores (0-1)."
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/mixed-document/{mixed_doc_uuid}/classification-summary:
    get:
      tags:
        - Classification
      operationId: getMixedDocClassification
      summary: Get mixed doc classification summary
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: mixed_doc_uuid
          in: path
          required: true
          description: Mixed document UUID
          schema:
            type: string
            format: uuid
  /v2/index/mixed-doc/{mixed_doc_uuid}/summary:
    get:
      tags:
        - Classification
      operationId: getGroupedMixedDocSummary
      summary: Get grouped mixed doc summary
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Organizes forms into logical groups with uniqueness values.
      parameters:
        - name: mixed_doc_uuid
          in: path
          required: true
          description: Mixed document UUID
          schema:
            type: string
            format: uuid
  /v1/book/{book_pk}/forms:
    get:
      tags:
        - Data Extraction
      operationId: getBookForms
      summary: Get book form data
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_pk
          in: path
          required: true
          description: Book primary key
          schema:
            type: integer
  /v1/book/{book_pk}/paystubs:
    get:
      tags:
        - Data Extraction
      operationId: getBookPaystubs
      summary: Get book pay stub data
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_pk
          in: path
          required: true
          description: Book primary key
          schema:
            type: integer
  /v1/document/{doc_uuid}/forms:
    get:
      tags:
        - Data Extraction
      operationId: getDocumentForms
      summary: Get document form data
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/document/{doc_uuid}/paystubs:
    get:
      tags:
        - Data Extraction
      operationId: getDocumentPaystubs
      summary: Get document pay stub data
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/form/{form_uuid}/fields:
    get:
      tags:
        - Data Extraction
      operationId: getFormFields
      summary: Get form field data
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Returns confidence scores per field (0-1)."
      parameters:
        - name: form_uuid
          in: path
          required: true
          description: Form UUID
          schema:
            type: string
            format: uuid
  /v1/paystub/{paystub_uuid}:
    get:
      tags:
        - Data Extraction
      operationId: getPaystub
      summary: Get pay stub data
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: paystub_uuid
          in: path
          required: true
          description: Pay stub UUID
          schema:
            type: string
            format: uuid
  /v1/book/{book_pk}/transactions:
    get:
      tags:
        - Data Extraction
      operationId: getBookTransactions
      summary: Get book transactions
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_pk
          in: path
          required: true
          description: Book primary key
          schema:
            type: integer
  /v2/detect/book/{book_uuid}/signals:
    get:
      tags:
        - Fraud Detection
      operationId: getBookFraudSignals
      summary: "Get book-level fraud signals"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Returns authenticity scores (0-100), reason codes, and signal types for all documents."
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/detect/document/{doc_uuid}/signals:
    get:
      tags:
        - Fraud Detection
      operationId: getDocumentFraudSignals
      summary: "Get document-level fraud signals"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v2/detect/visualization/{visualization_uuid}:
    get:
      tags:
        - Fraud Detection
      operationId: getFraudVisualization
      summary: Get fraud signal visualization
      responses:
        200:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns binary image with fraud signal overlays. Cannot be hotlinked.
      parameters:
        - name: visualization_uuid
          in: path
          required: true
          description: Visualization UUID
          schema:
            type: string
            format: uuid
  /v1/book/{book_uuid}/suspicious-activity-flags:
    get:
      tags:
        - Fraud Detection
      operationId: getSuspiciousActivityFlags
      summary: Get suspicious activity flags (LEGACY)
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      deprecated: true
      description: DEPRECATED. Use /v2/detect/ endpoints instead.
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/summary:
    get:
      tags:
        - Cash Flow Analytics
      operationId: getBookSummary
      summary: Get cash flow analytics summary
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Returns daily balances, PII, and time series data."
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/cash_flow_features:
    get:
      tags:
        - Cash Flow Analytics
      operationId: getCashFlowFeatures
      summary: Get cash flow features
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
        - name: min_days_to_include
          in: query
          required: false
          description: "Min days for most recent month (default 0, use 32 for full months only)"
          schema:
            type: integer
  /v2/book/{book_uuid}/enriched_txns:
    get:
      tags:
        - Cash Flow Analytics
      operationId: getEnrichedTransactions
      summary: Get enriched transactions
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns transactions with categories and tags.
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/cash_flow_risk_score:
    get:
      tags:
        - Cash Flow Analytics
      operationId: getRiskScore
      summary: Get cash flow risk score
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns probability of default.
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/benchmarking:
    get:
      tags:
        - Cash Flow Analytics
      operationId: getBenchmarking
      summary: Get cash flow benchmarking (Beta)
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "NAICS4-based benchmarking. Beta feature."
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/lender_analytics/xlsx:
    get:
      tags:
        - Cash Flow Analytics
      operationId: getAnalyticsExcel
      summary: Download SMB analytics Excel
      responses:
        200:
          description: Success
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns .xlsx binary content.
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/income-calculations:
    get:
      tags:
        - Income Calculations
      operationId: getIncomeCalculations
      summary: Get income calculations
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/income-summary:
    get:
      tags:
        - Income Calculations
      operationId: getIncomeSummary
      summary: Get income summary
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/income-entity:
    post:
      tags:
        - Income Calculations
      operationId: configureIncomeEntity
      summary: Configure income entity
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: object
  /v2/book/{book_uuid}/income-guideline:
    put:
      tags:
        - Income Calculations
      operationId: saveIncomeGuideline
      summary: Save income guideline
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                guideline:
                  type: object
  /v2/book/{book_uuid}/self-employed-income:
    post:
      tags:
        - Income Calculations
      operationId: calculateSelfEmployedIncome
      summary: "Calculate Fannie Mae self-employed income"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Call BEFORE getIncomeCalculations.
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                params:
                  type: object
  /v2/book/{book_uuid}/bsic:
    get:
      tags:
        - Income Calculations
      operationId: getBsic
      summary: Get BSIC results
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Bank Statement Income Calculator results.
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/analytics/tags:
    post:
      tags:
        - Tag Management
      operationId: createTag
      summary: Create a custom transaction tag
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
    get:
      tags:
        - Tag Management
      operationId: listTags
      summary: List all tags
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: is_system_tag
          in: query
          required: false
          description: Filter system vs custom tags
          schema:
            type: boolean
  /v2/analytics/tags/{tag_uuid}:
    get:
      tags:
        - Tag Management
      operationId: getTag
      summary: Retrieve a tag
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: tag_uuid
          in: path
          required: true
          description: Tag UUID
          schema:
            type: string
            format: uuid
    put:
      tags:
        - Tag Management
      operationId: modifyTag
      summary: Modify a tag
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: tag_uuid
          in: path
          required: true
          description: Tag UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
    delete:
      tags:
        - Tag Management
      operationId: deleteTag
      summary: Delete a tag
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: System tags cannot be deleted.
      parameters:
        - name: tag_uuid
          in: path
          required: true
          description: Tag UUID
          schema:
            type: string
            format: uuid
  /v2/analytics/revenue-deduction-tags:
    get:
      tags:
        - Tag Management
      operationId: getRevenueDeductionTags
      summary: Get revenue deduction tags
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      tags:
        - Tag Management
      operationId: updateRevenueDeductionTags
      summary: Update revenue deduction tags
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Replaces the full collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag_names:
                  type: array
                  items:
                    type: string
  /v2/analytics/book/{book_uuid}/transactions:
    put:
      tags:
        - Tag Management
      operationId: overrideTransactionTag
      summary: Override transaction tag
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txn_pk:
                  type: integer
                tag_uuids:
                  type: array
                  items:
                    type: string
  /v1/book/copy-jobs:
    post:
      tags:
        - Encore / Book Copy
      operationId: createBookCopyJobs
      summary: Create book copy jobs
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Max 50 jobs per call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobs:
                  type: array
                  items:
                    type: string
    get:
      tags:
        - Encore / Book Copy
      operationId: listBookCopyJobs
      summary: List book copy jobs
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: direction
          in: query
          required: false
          description: "'outbound' or 'inbound'"
          schema:
            type: string
  /v1/book/copy-jobs/{job_id}/accept:
    post:
      tags:
        - Encore / Book Copy
      operationId: acceptBookCopyJob
      summary: Accept a book copy job
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: job_id
          in: path
          required: true
          description: Copy job ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
  /v1/book/copy-jobs/{job_id}/reject:
    post:
      tags:
        - Encore / Book Copy
      operationId: rejectBookCopyJob
      summary: Reject a book copy job
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: job_id
          in: path
          required: true
          description: Copy job ID
          schema:
            type: string
  /v1/book/copy-jobs/run-kickouts:
    post:
      tags:
        - Encore / Book Copy
      operationId: runBookCopyKickouts
      summary: "Run automated kick-outs"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Runs on all AWAITING_RECIPIENT jobs.
  /v1/settings/book-copy:
    get:
      tags:
        - Encore / Book Copy
      operationId: getBookCopySettings
      summary: Get book copy settings
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/account/settings/webhook:
    post:
      tags:
        - Webhooks (Org)
      operationId: addOrgWebhook
      summary: "Add org-level webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                events:
                  type: array
                  items:
                    type: string
  /v1/account/settings/webhooks:
    get:
      tags:
        - Webhooks (Org)
      operationId: listOrgWebhooks
      summary: "List org-level webhooks"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/account/settings/webhooks/{webhook_id}:
    get:
      tags:
        - Webhooks (Org)
      operationId: getOrgWebhook
      summary: "Retrieve org-level webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
    put:
      tags:
        - Webhooks (Org)
      operationId: updateOrgWebhook
      summary: "Update org-level webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                events:
                  type: array
                  items:
                    type: string
    delete:
      tags:
        - Webhooks (Org)
      operationId: deleteOrgWebhook
      summary: "Delete org-level webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
  /v1/account/settings/webhooks/events:
    get:
      tags:
        - Webhooks (Org)
      operationId: listOrgWebhookEvents
      summary: List webhook event types
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/account/settings/webhooks/{webhook_id}/test:
    post:
      tags:
        - Webhooks (Org)
      operationId: testOrgWebhook
      summary: "Test org-level webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
  /v1/account/settings/webhooks/secret:
    post:
      tags:
        - Webhooks (Org)
      operationId: configureOrgWebhookSecret
      summary: Configure org webhook secret
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Secret must be 16-128 characters."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secret:
                  type: string
  /v1/webhook/configure:
    post:
      tags:
        - Webhooks (Account)
      operationId: configureAccountWebhook
      summary: Configure account webhook
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                events:
                  type: array
                  items:
                    type: string
  /v1/webhook/configuration:
    get:
      tags:
        - Webhooks (Account)
      operationId: getAccountWebhookConfig
      summary: Get account webhook config
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/webhook/test:
    post:
      tags:
        - Webhooks (Account)
      operationId: testAccountWebhook
      summary: Test account webhook
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/webhook/secret:
    post:
      tags:
        - Webhooks (Account)
      operationId: configureAccountWebhookSecret
      summary: Configure account webhook secret
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secret:
                  type: string
