# Ocrolus API - OpenAPI 3.0.3 Specification
# Generated: 2026-04-27 21:07:29 UTC

openapi: 3.0.3
info:
  title: Ocrolus API
  description: "Ocrolus document automation platform API. Covers Classify (document identification), Capture (data extraction), Detect (fraud detection), and Analyze (financial metrics).

## Authentication
Use OAuth 2.0 client_credentials grant to obtain a Bearer JWT token (24h expiry).

## Key Conventions
- v1 endpoints use `book_pk` (integer)
- v2 endpoints use `book_uuid` (UUID string)
- Never mix them -- v1 rejects UUIDs, v2 rejects PKs

## Validation Note
Some endpoint paths have conflicting documentation. Run `validate_endpoints.py` against your tenant to confirm paths before production use."
  version: 3.0.0
  contact:
    name: Ocrolus API Support
    url: "https://docs.ocrolus.com"
servers:
  - url: "https://api.ocrolus.com"
    description: Production API
  - url: "https://auth.ocrolus.com"
    description: Authentication
security:
  - bearerAuth: "[]"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "OAuth 2.0 Bearer JWT token (24h expiry, refresh at 12h)"
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: "https://auth.ocrolus.com/oauth/token"
          scopes: {}
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status_code:
          type: integer
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 86400
    Book:
      type: object
      properties:
        pk:
          type: integer
          description: Book primary key (v1)
        uuid:
          type: string
          format: uuid
          description: Book UUID (v2)
        name:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: "date-time"
    FraudSignals:
      type: object
      properties:
        documents:
          type: array
          items:
            type: object
            properties:
              doc_uuid:
                type: string
                format: uuid
              authenticity_score:
                type: integer
                minimum: 0
                maximum: 100
              reason_codes:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      example: "110-H"
                    description:
                      type: string
                    confidence:
                      type: string
                      enum:
                        - HIGH
                        - MEDIUM
                        - LOW
              signals:
                type: array
                items:
                  type: object
tags:
  - name: Authentication
    description: OAuth 2.0 token management
  - name: Book Commands
    description: "Create, update, and delete Books"
  - name: Book Queries
    description: "Read Book information, status, and related loan data"
  - name: File Uploads
    description: "Upload documents, paystubs, images, and Plaid data to Books"
  - name: File Commands
    description: "Cancel, delete, download, and upgrade documents"
  - name: File Queries
    description: "Retrieve file and mixed-document status"
  - name: Classify
    description: Identify document types with confidence scores
  - name: Capture
    description: "Extract structured data from documents (forms, paystubs, transactions)"
  - name: Detect
    description: "Fraud detection signals, authenticity scores, and reason codes"
  - name: Analyze
    description: "Cash flow analytics, enriched transactions, and risk scoring"
  - name: Encore
    description: "Book copy jobs for organization-to-organization sharing"
  - name: Income
    description: "Income calculations, BSIC, and self-employed income"
  - name: Tag Management
    description: Transaction tag management (Beta)
  - name: Webhooks (Account Level)
    description: "Account-level webhook management (legacy)"
  - name: Webhooks (Org Level)
    description: "Organization-level webhook management (recommended)"
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      operationId: oauthToken
      summary: oauth/token — Obtain OAuth 2.0 Bearer Token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  example: client_credentials
                client_id:
                  type: string
                  example: "<your_client_id>"
                client_secret:
                  type: string
                  example: "<your_client_secret>"
      responses:
        200:
          description: Token granted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        401:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: form-encoded (NOT JSON). OAuth 2.0 client_credentials grant. Returns JWT with 24h expiry. No 'audience' param. | Docs: https://docs.ocrolus.com/reference/grant-authentication-token"
  /v1/book/add:
    post:
      tags:
        - Book Commands
      operationId: bookAdd
      summary: book/add — Create a new Book
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "CORRECTED from /v1/book/create. Returns pk (int) and uuid (str). Body: JSON. | Docs: https://docs.ocrolus.com/reference/create-a-book"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My Book
                book_type:
                  type: string
                  example: DEFAULT
  /v1/book/remove:
    post:
      tags:
        - Book Commands
      operationId: bookRemove
      summary: book/remove — Delete a Book
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Exactly one of book_id (integer) or book_uuid (UUID string). Note: /v1/book/delete is an alias that also works. | Docs: https://docs.ocrolus.com/reference/delete-a-book"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                book_id:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
  /v1/book/update:
    post:
      tags:
        - Book Commands
      operationId: bookUpdate
      summary: book/update — Update Book properties
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Provide pk (integer) or book_uuid (UUID string) + fields to update. | Docs: https://docs.ocrolus.com/reference/update-book"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pk:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
                name:
                  type: string
                  example: My Book
  /v1/book/{pk}:
    get:
      tags:
        - Book Queries
      operationId: bookInfo
      summary: "book/{pk} — Get Book information"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-info"
      parameters:
        - name: pk
          in: path
          required: true
          description: Book primary key (integer)
          schema:
            type: integer
  /v1/books:
    get:
      tags:
        - Book Queries
      operationId: booksList
      summary: books — List all Books
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Query params: page, per_page (both optional). | Docs: https://docs.ocrolus.com/reference/book-list"
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Results per page
          schema:
            type: integer
  /v1/book/status:
    get:
      tags:
        - Book Queries
      operationId: bookStatus
      summary: book/status — Get Book processing status
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Query param: book_pk (integer). Alt path: /v1/book/{pk}/status also works. | Docs: https://docs.ocrolus.com/reference/book-status"
      parameters:
        - name: book_pk
          in: query
          required: true
          description: Book primary key
          schema:
            type: integer
  /v1/book/loan/{loan_id}:
    get:
      tags:
        - Book Queries
      operationId: bookFromLoan
      summary: "book/loan/{loan_id} — Get Book from loan"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: loan_id (string). | Docs: https://docs.ocrolus.com/reference/book-from-loan"
      parameters:
        - name: loan_id
          in: path
          required: true
          description: Loan identifier
          schema:
            type: string
  /v1/book/{pk}/loan:
    get:
      tags:
        - Book Queries
      operationId: bookLoan
      summary: "book/{pk}/loan — Get loan from Book"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/loan-from-book"
      parameters:
        - name: pk
          in: path
          required: true
          description: Book primary key (integer)
          schema:
            type: integer
  /v1/book/upload:
    post:
      tags:
        - File Uploads
      operationId: bookUpload
      summary: book/upload — Upload a PDF document
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). Max 200MB. form_type and doc_name optional. | Docs: https://docs.ocrolus.com/reference/upload-document"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pk:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
                upload:
                  type: string
                  format: binary
                form_type:
                  type: string
                  example: bank_statement
                doc_name:
                  type: string
                  example: January 2026 Statement
  /v1/book/upload/mixed:
    post:
      tags:
        - File Uploads
      operationId: bookUploadMixed
      summary: book/upload/mixed — Upload a mixed document PDF
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). Multiple doc types in single PDF. | Docs: https://docs.ocrolus.com/reference/upload-mixed-document"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pk:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
                upload:
                  type: string
                  format: binary
  /v1/book/upload/paystub:
    post:
      tags:
        - File Uploads
      operationId: bookUploadPaystub
      summary: book/upload/paystub — Upload a pay stub PDF
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-paystub"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pk:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
                upload:
                  type: string
                  format: binary
  /v1/book/upload/image:
    post:
      tags:
        - File Uploads
      operationId: bookUploadImage
      summary: book/upload/image — Upload an image
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-image"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pk:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
                upload:
                  type: string
                  format: binary
                image_group:
                  type: string
                  example: "group-1"
  /v1/book/finalize-image-group:
    post:
      tags:
        - File Uploads
      operationId: bookFinalizeImageGroup
      summary: "book/finalize-image-group — Finalize an image group"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mark-image-group-complete"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pk:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
                image_group:
                  type: string
                  example: "group-1"
  /v1/book/upload/plaid:
    post:
      tags:
        - File Uploads
      operationId: bookUploadPlaid
      summary: book/upload/plaid — Upload Plaid aggregator JSON
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-json"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pk:
                  type: integer
                  example: 71250194
                book_uuid:
                  type: string
                  example: "09c52985-2f05-4022-a738-9277cc335c7e"
  /v1/book/import/plaid/asset:
    post:
      tags:
        - File Uploads
      operationId: bookImportPlaidAsset
      summary: book/import/plaid/asset — Import Plaid Asset Report
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Production only. Requires auditor_id: 'ocrolus'. | Docs: https://docs.ocrolus.com/reference/import-plaid-asset-report"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                audit_copy_token:
                  type: string
                  example: "<plaid_audit_copy_token>"
  /v1/document/{doc_uuid}/cancel:
    post:
      tags:
        - File Commands
      operationId: documentCancel
      summary: document/cancel — Cancel document verification
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: doc_uuid (UUID). Body (JSON, optional): doc_pk or doc_uuid, accept_charges. Official spec also supports query-param style: /v1/document/cancel?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/cancel-file-verification"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_pk:
                  type: integer
                  example: 12345678
                doc_uuid:
                  type: string
                  example: "aaaa1111-bbbb-2222-cccc-333344445555"
                accept_charges:
                  type: boolean
                  example: true
  /v1/document/{doc_uuid}/delete:
    post:
      tags:
        - File Commands
      operationId: documentDelete
      summary: document/remove — Delete a document
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: doc_uuid (UUID). Body (JSON): doc_id (integer) or doc_uuid (UUID). Official spec also supports query-param style: /v1/document/remove?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/delete-a-file"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_id:
                  type: integer
                  example: 12345678
                doc_uuid:
                  type: string
                  example: "aaaa1111-bbbb-2222-cccc-333344445555"
  /v1/document/{doc_uuid}/download:
    get:
      tags:
        - File Commands
      operationId: documentDownload
      summary: "document/{doc_uuid}/download — Download a document file"
      responses:
        200:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/document-download"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/document/{doc_uuid}/upgrade:
    post:
      tags:
        - File Commands
      operationId: documentUpgrade
      summary: document/upgrade — Upgrade document processing
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: doc_uuid (UUID). Body (JSON): doc_pk or doc_uuid + upgrade_type. Official spec also supports: /v1/document/upgrade?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/upgrade-doc"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_pk:
                  type: integer
                  example: 12345678
                doc_uuid:
                  type: string
                  example: "aaaa1111-bbbb-2222-cccc-333344445555"
                upgrade_type:
                  type: string
                  example: INSTANT
  /v1/document/mixed/upgrade:
    post:
      tags:
        - File Commands
      operationId: documentMixedUpgrade
      summary: document/mixed/upgrade — Upgrade mixed document
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body (JSON): mixed_doc_pk (integer) or mixed_doc_uuid (UUID) + upgrade_type. | Docs: https://docs.ocrolus.com/reference/upgrade-mixed-doc"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mixed_doc_pk:
                  type: integer
                  example: 12345678
                mixed_doc_uuid:
                  type: string
                  example: "aaaa1111-bbbb-2222-cccc-333344445555"
                upgrade_type:
                  type: string
                  example: INSTANT
  /v1/document/mixed/status:
    get:
      tags:
        - File Queries
      operationId: documentMixedStatus
      summary: document/mixed/status — Get mixed document status
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Query params: exactly one of pk (integer), doc_uuid (UUID), or mixed_doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mixed-document-status"
      parameters:
        - name: pk
          in: query
          required: false
          description: Mixed document primary key
          schema:
            type: integer
        - name: doc_uuid
          in: query
          required: false
          description: Document UUID
          schema:
            type: string
            format: uuid
        - name: mixed_doc_uuid
          in: query
          required: false
          description: Mixed document UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/classification-summary:
    get:
      tags:
        - Classify
      operationId: bookClassificationSummary
      summary: "book/{book_uuid}/classification-summary — Book classification"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Identifies 300+ document types with confidence scores (0-1). | Docs: https://docs.ocrolus.com/reference/book-classification-summary"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/mixed-document/{mixed_doc_uuid}/classification-summary:
    get:
      tags:
        - Classify
      operationId: mixedDocClassificationSummary
      summary: "mixed-document/{mixed_doc_uuid}/classification-summary"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: mixed_doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mixed-doc-classification-summary"
      parameters:
        - name: mixed_doc_uuid
          in: path
          required: true
          description: Mixed document UUID
          schema:
            type: string
            format: uuid
  /v2/index/mixed-doc/{mixed_doc_uuid}/summary:
    get:
      tags:
        - Classify
      operationId: groupedMixedDocSummary
      summary: "index/mixed-doc/{mixed_doc_uuid}/summary — Grouped classification"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: mixed_doc_uuid (UUID). Organizes forms into logical groups with uniqueness values. | Docs: https://docs.ocrolus.com/reference/grouped-mixed-doc-classification-summary"
      parameters:
        - name: mixed_doc_uuid
          in: path
          required: true
          description: Mixed document UUID
          schema:
            type: string
            format: uuid
  /v1/book/{pk}/forms:
    get:
      tags:
        - Capture
      operationId: bookForms
      summary: "book/{pk}/forms — Get book form data"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-form-data"
      parameters:
        - name: pk
          in: path
          required: true
          description: Book primary key (integer)
          schema:
            type: integer
  /v1/book/{pk}/paystubs:
    get:
      tags:
        - Capture
      operationId: bookPaystubs
      summary: "book/{pk}/paystubs — Get book pay stub data"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-paystub-data"
      parameters:
        - name: pk
          in: path
          required: true
          description: Book primary key (integer)
          schema:
            type: integer
  /v1/document/{doc_uuid}/forms:
    get:
      tags:
        - Capture
      operationId: documentForms
      summary: "document/{doc_uuid}/forms — Get document form data"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-form-data"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/document/{doc_uuid}/paystubs:
    get:
      tags:
        - Capture
      operationId: documentPaystubs
      summary: "document/{doc_uuid}/paystubs — Get document pay stub data"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-paystub-data"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v1/form/{form_uuid}/fields:
    get:
      tags:
        - Capture
      operationId: formFields
      summary: "form/{form_uuid}/fields — Get form field data"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: form_uuid (UUID). Returns confidence scores per field (0-1). | Docs: https://docs.ocrolus.com/reference/form-field-data"
      parameters:
        - name: form_uuid
          in: path
          required: true
          description: Form UUID
          schema:
            type: string
            format: uuid
  /v1/paystub/{paystub_uuid}:
    get:
      tags:
        - Capture
      operationId: paystubData
      summary: "paystub/{paystub_uuid} — Get pay stub data"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: paystub_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/paystub-data"
      parameters:
        - name: paystub_uuid
          in: path
          required: true
          description: Pay stub UUID
          schema:
            type: string
            format: uuid
  /v1/book/{pk}/transactions:
    get:
      tags:
        - Capture
      operationId: bookTransactions
      summary: "book/{pk}/transactions — Get book transactions"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: pk (integer). Query params (optional): uploaded_doc_pk, uploaded_doc_uuid, only_tagged, distinct_fields. Alt: /v1/transaction?book_pk=X also works. | Docs: https://docs.ocrolus.com/reference/transactions"
      parameters:
        - name: pk
          in: path
          required: true
          description: Book primary key (integer)
          schema:
            type: integer
        - name: uploaded_doc_pk
          in: query
          required: false
          description: Filter by uploaded document primary key
          schema:
            type: integer
        - name: uploaded_doc_uuid
          in: query
          required: false
          description: Filter by uploaded document UUID
          schema:
            type: string
            format: uuid
        - name: only_tagged
          in: query
          required: false
          description: "Only return tagged transactions (requires distinct_fields=true)"
          schema:
            type: boolean
        - name: distinct_fields
          in: query
          required: false
          description: Return only distinct field values
          schema:
            type: boolean
  /v2/detect/book/{book_uuid}/signals:
    get:
      tags:
        - Detect
      operationId: detectBookSignals
      summary: "detect/book/{book_uuid}/signals — Book-level fraud signals"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Returns authenticity scores (0-100), reason codes, and signal types. | Docs: https://docs.ocrolus.com/reference/book-fraud-signals"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/detect/document/{doc_uuid}/signals:
    get:
      tags:
        - Detect
      operationId: detectDocumentSignals
      summary: "detect/document/{doc_uuid}/signals — Document-level fraud signals"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-fraud-signals"
      parameters:
        - name: doc_uuid
          in: path
          required: true
          description: Document UUID
          schema:
            type: string
            format: uuid
  /v2/detect/visualization/{visualization_uuid}:
    get:
      tags:
        - Detect
      operationId: detectVisualization
      summary: "detect/visualization/{visualization_uuid} — Signal visualization"
      responses:
        200:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: visualization_uuid (UUID). Returns binary image with fraud signal overlays. | Docs: https://docs.ocrolus.com/reference/signal-visualization"
      parameters:
        - name: visualization_uuid
          in: path
          required: true
          description: Visualization UUID
          schema:
            type: string
            format: uuid
  /v1/book/{book_uuid}/suspicious-activity-flags:
    get:
      tags:
        - Detect
      operationId: suspiciousActivityFlags
      summary: "book/{book_uuid}/suspicious-activity-flags — LEGACY"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      deprecated: true
      description: "DEPRECATED. Use /v2/detect/ endpoints instead. Path param: book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/suspicious-activity"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/summary:
    get:
      tags:
        - Analyze
      operationId: bookSummary
      summary: "book/{book_uuid}/summary — Cash flow summary"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Returns daily balances, PII, and time series data. | Docs: https://docs.ocrolus.com/reference/book-summary"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/cash_flow_features:
    get:
      tags:
        - Analyze
      operationId: bookCashFlowFeatures
      summary: "book/{book_uuid}/cash_flow_features — Cash flow features"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Query param: min_days_to_include (integer, optional). | Docs: https://docs.ocrolus.com/reference/cash-flow-features"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
        - name: min_days_to_include
          in: query
          required: false
          description: "Min days for most recent month (default 0, use 32 for full months only)"
          schema:
            type: integer
  /v2/book/{book_uuid}/enriched_txns:
    get:
      tags:
        - Analyze
      operationId: bookEnrichedTxns
      summary: "book/{book_uuid}/enriched_txns — Enriched transactions"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Returns transactions with categories and tags. | Docs: https://docs.ocrolus.com/reference/enriched-transactions"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/cash_flow_risk_score:
    get:
      tags:
        - Analyze
      operationId: bookCashFlowRiskScore
      summary: "book/{book_uuid}/cash_flow_risk_score — Risk score"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Returns probability of default. | Docs: https://docs.ocrolus.com/reference/risk-score"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/benchmarking:
    get:
      tags:
        - Analyze
      operationId: bookBenchmarking
      summary: "book/{book_uuid}/benchmarking — Benchmarking (Beta)"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). NAICS4-based benchmarking. Beta feature."
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/lender_analytics/xlsx:
    get:
      tags:
        - Analyze
      operationId: bookLenderAnalyticsXlsx
      summary: "book/{book_uuid}/lender_analytics/xlsx — SMB analytics Excel"
      responses:
        200:
          description: Success
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Returns .xlsx binary content. | Docs: https://docs.ocrolus.com/reference/analytics-excel"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/income-calculations:
    get:
      tags:
        - Income
      operationId: bookIncomeCalculations
      summary: "book/{book_uuid}/income-calculations — Income calculations"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Query param: guideline (string, optional). | Docs: https://docs.ocrolus.com/reference/income-calculations"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
        - name: guideline
          in: query
          required: false
          description: "Guideline: FANNIE_MAE, FREDDIE_MAC, FHA, VA, USDA"
          schema:
            type: string
  /v2/book/{book_uuid}/income-summary:
    get:
      tags:
        - Income
      operationId: bookIncomeSummary
      summary: "book/{book_uuid}/income-summary — Income summary"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/income-summary"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/book/{book_uuid}/income-entity:
    post:
      tags:
        - Income
      operationId: bookIncomeEntity
      summary: "book/{book_uuid}/income-entity — Configure income entity"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/income-entity-config"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: object
  /v2/book/{book_uuid}/income-guideline:
    put:
      tags:
        - Income
      operationId: bookIncomeGuideline
      summary: "book/{book_uuid}/income-guideline — Save income guideline"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/save-income-guideline"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                guideline:
                  type: object
  /v2/book/{book_uuid}/self-employed-income:
    post:
      tags:
        - Income
      operationId: bookSelfEmployedIncome
      summary: "book/{book_uuid}/self-employed-income — Fannie Mae self-employed"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Body: JSON. Call BEFORE income-calculations. | Docs: https://docs.ocrolus.com/reference/self-employed-income-calculation-fm"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                params:
                  type: object
  /v2/book/{book_uuid}/bsic:
    get:
      tags:
        - Income
      operationId: bookBsic
      summary: "book/{book_uuid}/bsic — BSIC results"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Bank Statement Income Calculator results. | Docs: https://docs.ocrolus.com/reference/bsic"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
  /v2/analytics/tags:
    post:
      tags:
        - Tag Management
      operationId: analyticsTagsCreate
      summary: analytics/tags — Create a transaction tag
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. | Docs: https://docs.ocrolus.com/reference/create-tag"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My Book
    get:
      tags:
        - Tag Management
      operationId: analyticsTagsList
      summary: analytics/tags — List all tags
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Query param: is_system_tag (boolean, optional). | Docs: https://docs.ocrolus.com/reference/get-all-tags"
      parameters:
        - name: is_system_tag
          in: query
          required: false
          description: Filter system vs custom tags
          schema:
            type: boolean
  /v2/analytics/tags/{tag_uuid}:
    get:
      tags:
        - Tag Management
      operationId: analyticsTagGet
      summary: "analytics/tags/{tag_uuid} — Retrieve a tag"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: tag_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/get-tag"
      parameters:
        - name: tag_uuid
          in: path
          required: true
          description: Tag UUID
          schema:
            type: string
            format: uuid
    put:
      tags:
        - Tag Management
      operationId: analyticsTagModify
      summary: "analytics/tags/{tag_uuid} — Modify a tag"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: tag_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/modify-tag"
      parameters:
        - name: tag_uuid
          in: path
          required: true
          description: Tag UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My Book
    delete:
      tags:
        - Tag Management
      operationId: analyticsTagDelete
      summary: "analytics/tags/{tag_uuid} — Delete a tag"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: tag_uuid (UUID). System tags cannot be deleted. | Docs: https://docs.ocrolus.com/reference/delete-tag"
      parameters:
        - name: tag_uuid
          in: path
          required: true
          description: Tag UUID
          schema:
            type: string
            format: uuid
  /v2/analytics/revenue-deduction-tags:
    get:
      tags:
        - Tag Management
      operationId: analyticsRevenueDeductionTagsGet
      summary: "analytics/revenue-deduction-tags — Get revenue deduction tags"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Docs: https://docs.ocrolus.com/reference/get-revenue-deduction-tags"
    put:
      tags:
        - Tag Management
      operationId: analyticsRevenueDeductionTagsUpdate
      summary: "analytics/revenue-deduction-tags — Update revenue deduction tags"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Replaces the full collection. | Docs: https://docs.ocrolus.com/reference/update-revenue-deduction-tag"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag_names:
                  type: array
                  items:
                    type: string
  /v2/analytics/book/{book_uuid}/transactions:
    put:
      tags:
        - Tag Management
      operationId: analyticsBookTransactionsOverride
      summary: "analytics/book/{book_uuid}/transactions — Override transaction tag"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/override-transaction-tag"
      parameters:
        - name: book_uuid
          in: path
          required: true
          description: Book UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txn_pk:
                  type: integer
                tag_uuids:
                  type: array
                  items:
                    type: string
  /v1/book/copy-jobs:
    post:
      tags:
        - Encore
      operationId: bookCopyJobsCreate
      summary: "book/copy-jobs — Create book copy jobs"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Max 50 jobs per call. | Docs: https://docs.ocrolus.com/reference/create-book-copy-jobs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobs:
                  type: array
                  items:
                    type: string
    get:
      tags:
        - Encore
      operationId: bookCopyJobsList
      summary: "book/copy-jobs — List book copy jobs"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Query param: direction (string, optional — 'outbound' or 'inbound'). | Docs: https://docs.ocrolus.com/reference/list-book-copy-jobs"
      parameters:
        - name: direction
          in: query
          required: false
          description: "'outbound' or 'inbound'"
          schema:
            type: string
  /v1/book/copy-jobs/{job_id}/accept:
    post:
      tags:
        - Encore
      operationId: bookCopyJobAccept
      summary: "book/copy-jobs/{job_id}/accept — Accept a copy job"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: job_id (string). Body: JSON. | Docs: https://docs.ocrolus.com/reference/copy-jobs-accept"
      parameters:
        - name: job_id
          in: path
          required: true
          description: Copy job ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My Book
  /v1/book/copy-jobs/{job_id}/reject:
    post:
      tags:
        - Encore
      operationId: bookCopyJobReject
      summary: "book/copy-jobs/{job_id}/reject — Reject a copy job"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: job_id (string). | Docs: https://docs.ocrolus.com/reference/copy-jobs-reject"
      parameters:
        - name: job_id
          in: path
          required: true
          description: Copy job ID
          schema:
            type: string
  /v1/book/copy-jobs/run-kickouts:
    post:
      tags:
        - Encore
      operationId: bookCopyJobsRunKickouts
      summary: "book/copy-jobs/run-kickouts — Run automated kick-outs"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "No params. Runs on all AWAITING_RECIPIENT jobs. | Docs: https://docs.ocrolus.com/reference/run-kick-outs"
  /v1/settings/book-copy:
    get:
      tags:
        - Encore
      operationId: settingsBookCopy
      summary: "settings/book-copy — Get book copy settings"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "No params. | Docs: https://docs.ocrolus.com/reference/get-book-copy-settings-allow-list"
  /v1/account/settings/webhook:
    post:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhookAdd
      summary: "account/settings/webhook — Add org-level webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. | Docs: https://docs.ocrolus.com/reference/add-webhook"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  example: "https://example.com/webhook"
                events:
                  type: array
                  items:
                    type: string
  /v1/account/settings/webhooks:
    get:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhooksList
      summary: "account/settings/webhooks — List org-level webhooks"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "No params. | Docs: https://docs.ocrolus.com/reference/list-webhooks"
  /v1/account/settings/webhooks/{webhook_id}:
    get:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhookGet
      summary: "account/settings/webhooks/{webhook_id} — Retrieve webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: webhook_id (string). | Docs: https://docs.ocrolus.com/reference/get-webhook"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
    put:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhookUpdate
      summary: "account/settings/webhooks/{webhook_id} — Update webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: webhook_id (string). Body: JSON. | Docs: https://docs.ocrolus.com/reference/update-webhook"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  example: "https://example.com/webhook"
                events:
                  type: array
                  items:
                    type: string
    delete:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhookDelete
      summary: "account/settings/webhooks/{webhook_id} — Delete webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: webhook_id (string). | Docs: https://docs.ocrolus.com/reference/delete-webhook"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
  /v1/account/settings/webhooks/events:
    get:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhooksEvents
      summary: account/settings/webhooks/events — List event types
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "No params. | Docs: https://docs.ocrolus.com/reference/list-events"
  /v1/account/settings/webhooks/{webhook_id}/test:
    post:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhookTest
      summary: "account/settings/webhooks/{webhook_id}/test — Test webhook"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Path param: webhook_id (string). | Docs: https://docs.ocrolus.com/reference/test-org-webhook"
      parameters:
        - name: webhook_id
          in: path
          required: true
          description: Webhook ID
          schema:
            type: string
  /v1/account/settings/webhooks/secret:
    post:
      tags:
        - Webhooks (Org Level)
      operationId: accountSettingsWebhooksSecret
      summary: account/settings/webhooks/secret — Configure secret
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. Secret must be 16-128 characters. | Docs: https://docs.ocrolus.com/reference/configure-webhook-secret-org-level"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secret:
                  type: string
                  example: "<webhook_secret_16_to_128_chars>"
  /v1/webhook/configure:
    post:
      tags:
        - Webhooks (Account Level)
      operationId: webhookConfigure
      summary: webhook/configure — Configure account webhook
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. | Docs: https://docs.ocrolus.com/reference/configure-webhook"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  example: "https://example.com/webhook"
                events:
                  type: array
                  items:
                    type: string
  /v1/webhook/configuration:
    get:
      tags:
        - Webhooks (Account Level)
      operationId: webhookConfiguration
      summary: webhook/configuration — Get account webhook config
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "No params. | Docs: https://docs.ocrolus.com/reference/webhook-configuration"
  /v1/webhook/test:
    post:
      tags:
        - Webhooks (Account Level)
      operationId: webhookTest
      summary: webhook/test — Test account webhook
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "No params. | Docs: https://docs.ocrolus.com/reference/test-webhook"
  /v1/webhook/secret:
    post:
      tags:
        - Webhooks (Account Level)
      operationId: webhookSecret
      summary: webhook/secret — Configure account webhook secret
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: "Body: JSON. | Docs: https://docs.ocrolus.com/reference/configure-webhook-secret-account-level"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secret:
                  type: string
                  example: "<webhook_secret_16_to_128_chars>"
