{
  "swagger": "2.0",
  "info": {
    "title": "Ocrolus API",
    "description": "Ocrolus document automation platform API. Covers Classify, Capture, Detect, and Analyze capabilities.",
    "version": "3.0.0",
    "contact": {
      "name": "Ocrolus",
      "url": "https://docs.ocrolus.com"
    }
  },
  "host": "api.ocrolus.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer JWT token from OAuth 2.0 client_credentials grant"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Book Commands"
    },
    {
      "name": "Book Queries"
    },
    {
      "name": "File Uploads"
    },
    {
      "name": "File Commands"
    },
    {
      "name": "File Queries"
    },
    {
      "name": "Classify"
    },
    {
      "name": "Capture"
    },
    {
      "name": "Detect"
    },
    {
      "name": "Analyze"
    },
    {
      "name": "Encore"
    },
    {
      "name": "Income"
    },
    {
      "name": "Tag Management"
    },
    {
      "name": "Webhooks (Account Level)"
    },
    {
      "name": "Webhooks (Org Level)"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "oauthToken",
        "summary": "oauth/token \u2014 Obtain OAuth 2.0 Bearer Token",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "security": [],
        "parameters": [
          {
            "name": "grant_type",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "client_id",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "client_secret",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Token granted"
          },
          "401": {
            "description": "Invalid credentials"
          }
        },
        "description": "Body: form-encoded (NOT JSON). OAuth 2.0 client_credentials grant. Returns JWT with 24h expiry. No 'audience' param. | Docs: https://docs.ocrolus.com/reference/grant-authentication-token"
      }
    },
    "/v1/book/add": {
      "post": {
        "tags": [
          "Book Commands"
        ],
        "operationId": "bookAdd",
        "summary": "book/add \u2014 Create a new Book",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "book_type": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "CORRECTED from /v1/book/create. Returns pk (int) and uuid (str). Body: JSON. | Docs: https://docs.ocrolus.com/reference/create-a-book",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/book/remove": {
      "post": {
        "tags": [
          "Book Commands"
        ],
        "operationId": "bookRemove",
        "summary": "book/remove \u2014 Delete a Book",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "book_id": {
                  "type": "integer"
                },
                "book_uuid": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Exactly one of book_id (integer) or book_uuid (UUID string). Note: /v1/book/delete is an alias that also works. | Docs: https://docs.ocrolus.com/reference/delete-a-book",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/book/update": {
      "post": {
        "tags": [
          "Book Commands"
        ],
        "operationId": "bookUpdate",
        "summary": "book/update \u2014 Update Book properties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "pk": {
                  "type": "integer"
                },
                "book_uuid": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Provide pk (integer) or book_uuid (UUID string) + fields to update. | Docs: https://docs.ocrolus.com/reference/update-book",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/book/{pk}": {
      "get": {
        "tags": [
          "Book Queries"
        ],
        "operationId": "bookInfo",
        "summary": "book/{pk} \u2014 Get Book information",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Book primary key (integer)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-info"
      }
    },
    "/v1/books": {
      "get": {
        "tags": [
          "Book Queries"
        ],
        "operationId": "booksList",
        "summary": "books \u2014 List all Books",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Query params: page, per_page (both optional). | Docs: https://docs.ocrolus.com/reference/book-list"
      }
    },
    "/v1/book/status": {
      "get": {
        "tags": [
          "Book Queries"
        ],
        "operationId": "bookStatus",
        "summary": "book/status \u2014 Get Book processing status",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_pk",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Book primary key"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Query param: book_pk (integer). Alt path: /v1/book/{pk}/status also works. | Docs: https://docs.ocrolus.com/reference/book-status"
      }
    },
    "/v1/book/loan/{loan_id}": {
      "get": {
        "tags": [
          "Book Queries"
        ],
        "operationId": "bookFromLoan",
        "summary": "book/loan/{loan_id} \u2014 Get Book from loan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "loan_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Loan identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: loan_id (string). | Docs: https://docs.ocrolus.com/reference/book-from-loan"
      }
    },
    "/v1/book/{pk}/loan": {
      "get": {
        "tags": [
          "Book Queries"
        ],
        "operationId": "bookLoan",
        "summary": "book/{pk}/loan \u2014 Get loan from Book",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Book primary key (integer)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/loan-from-book"
      }
    },
    "/v1/book/upload": {
      "post": {
        "tags": [
          "File Uploads"
        ],
        "operationId": "bookUpload",
        "summary": "book/upload \u2014 Upload a PDF document",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "formData",
            "type": "integer",
            "required": false
          },
          {
            "name": "book_uuid",
            "in": "formData",
            "type": "string",
            "required": false
          },
          {
            "name": "upload",
            "in": "formData",
            "type": "file",
            "required": true
          },
          {
            "name": "form_type",
            "in": "formData",
            "type": "string",
            "required": false
          },
          {
            "name": "doc_name",
            "in": "formData",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). Max 200MB. form_type and doc_name optional. | Docs: https://docs.ocrolus.com/reference/upload-document",
        "consumes": [
          "multipart/form-data"
        ]
      }
    },
    "/v1/book/upload/mixed": {
      "post": {
        "tags": [
          "File Uploads"
        ],
        "operationId": "bookUploadMixed",
        "summary": "book/upload/mixed \u2014 Upload a mixed document PDF",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "formData",
            "type": "integer",
            "required": false
          },
          {
            "name": "book_uuid",
            "in": "formData",
            "type": "string",
            "required": false
          },
          {
            "name": "upload",
            "in": "formData",
            "type": "file",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). Multiple doc types in single PDF. | Docs: https://docs.ocrolus.com/reference/upload-mixed-document",
        "consumes": [
          "multipart/form-data"
        ]
      }
    },
    "/v1/book/upload/paystub": {
      "post": {
        "tags": [
          "File Uploads"
        ],
        "operationId": "bookUploadPaystub",
        "summary": "book/upload/paystub \u2014 Upload a pay stub PDF",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "formData",
            "type": "integer",
            "required": false
          },
          {
            "name": "book_uuid",
            "in": "formData",
            "type": "string",
            "required": false
          },
          {
            "name": "upload",
            "in": "formData",
            "type": "file",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-paystub",
        "consumes": [
          "multipart/form-data"
        ]
      }
    },
    "/v1/book/upload/image": {
      "post": {
        "tags": [
          "File Uploads"
        ],
        "operationId": "bookUploadImage",
        "summary": "book/upload/image \u2014 Upload an image",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "formData",
            "type": "integer",
            "required": false
          },
          {
            "name": "book_uuid",
            "in": "formData",
            "type": "string",
            "required": false
          },
          {
            "name": "upload",
            "in": "formData",
            "type": "file",
            "required": true
          },
          {
            "name": "image_group",
            "in": "formData",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-image",
        "consumes": [
          "multipart/form-data"
        ]
      }
    },
    "/v1/book/finalize-image-group": {
      "post": {
        "tags": [
          "File Uploads"
        ],
        "operationId": "bookFinalizeImageGroup",
        "summary": "book/finalize-image-group \u2014 Finalize an image group",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "pk": {
                  "type": "integer"
                },
                "book_uuid": {
                  "type": "string"
                },
                "image_group": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mark-image-group-complete",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/book/upload/plaid": {
      "post": {
        "tags": [
          "File Uploads"
        ],
        "operationId": "bookUploadPlaid",
        "summary": "book/upload/plaid \u2014 Upload Plaid aggregator JSON",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "pk": {
                  "type": "integer"
                },
                "book_uuid": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-json",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/book/import/plaid/asset": {
      "post": {
        "tags": [
          "File Uploads"
        ],
        "operationId": "bookImportPlaidAsset",
        "summary": "book/import/plaid/asset \u2014 Import Plaid Asset Report",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "audit_copy_token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Production only. Requires auditor_id: 'ocrolus'. | Docs: https://docs.ocrolus.com/reference/import-plaid-asset-report",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/document/{doc_uuid}/cancel": {
      "post": {
        "tags": [
          "File Commands"
        ],
        "operationId": "documentCancel",
        "summary": "document/cancel \u2014 Cancel document verification",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "doc_pk": {
                  "type": "integer"
                },
                "doc_uuid": {
                  "type": "string"
                },
                "accept_charges": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: doc_uuid (UUID). Body (JSON, optional): doc_pk or doc_uuid, accept_charges. Official spec also supports query-param style: /v1/document/cancel?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/cancel-file-verification",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/document/{doc_uuid}/delete": {
      "post": {
        "tags": [
          "File Commands"
        ],
        "operationId": "documentDelete",
        "summary": "document/remove \u2014 Delete a document",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "doc_id": {
                  "type": "integer"
                },
                "doc_uuid": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: doc_uuid (UUID). Body (JSON): doc_id (integer) or doc_uuid (UUID). Official spec also supports query-param style: /v1/document/remove?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/delete-a-file",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/document/{doc_uuid}/download": {
      "get": {
        "tags": [
          "File Commands"
        ],
        "operationId": "documentDownload",
        "summary": "document/{doc_uuid}/download \u2014 Download a document file",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/document-download"
      }
    },
    "/v1/document/{doc_uuid}/upgrade": {
      "post": {
        "tags": [
          "File Commands"
        ],
        "operationId": "documentUpgrade",
        "summary": "document/upgrade \u2014 Upgrade document processing",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "doc_pk": {
                  "type": "integer"
                },
                "doc_uuid": {
                  "type": "string"
                },
                "upgrade_type": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: doc_uuid (UUID). Body (JSON): doc_pk or doc_uuid + upgrade_type. Official spec also supports: /v1/document/upgrade?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/upgrade-doc",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/document/mixed/upgrade": {
      "post": {
        "tags": [
          "File Commands"
        ],
        "operationId": "documentMixedUpgrade",
        "summary": "document/mixed/upgrade \u2014 Upgrade mixed document",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mixed_doc_pk": {
                  "type": "integer"
                },
                "mixed_doc_uuid": {
                  "type": "string"
                },
                "upgrade_type": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body (JSON): mixed_doc_pk (integer) or mixed_doc_uuid (UUID) + upgrade_type. | Docs: https://docs.ocrolus.com/reference/upgrade-mixed-doc",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/document/mixed/status": {
      "get": {
        "tags": [
          "File Queries"
        ],
        "operationId": "documentMixedStatus",
        "summary": "document/mixed/status \u2014 Get mixed document status",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Mixed document primary key"
          },
          {
            "name": "doc_uuid",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          },
          {
            "name": "mixed_doc_uuid",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Mixed document UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Query params: exactly one of pk (integer), doc_uuid (UUID), or mixed_doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mixed-document-status"
      }
    },
    "/v2/book/{book_uuid}/classification-summary": {
      "get": {
        "tags": [
          "Classify"
        ],
        "operationId": "bookClassificationSummary",
        "summary": "book/{book_uuid}/classification-summary \u2014 Book classification",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Identifies 300+ document types with confidence scores (0-1). | Docs: https://docs.ocrolus.com/reference/book-classification-summary"
      }
    },
    "/v2/mixed-document/{mixed_doc_uuid}/classification-summary": {
      "get": {
        "tags": [
          "Classify"
        ],
        "operationId": "mixedDocClassificationSummary",
        "summary": "mixed-document/{mixed_doc_uuid}/classification-summary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mixed_doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Mixed document UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: mixed_doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mixed-doc-classification-summary"
      }
    },
    "/v2/index/mixed-doc/{mixed_doc_uuid}/summary": {
      "get": {
        "tags": [
          "Classify"
        ],
        "operationId": "groupedMixedDocSummary",
        "summary": "index/mixed-doc/{mixed_doc_uuid}/summary \u2014 Grouped classification",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mixed_doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Mixed document UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: mixed_doc_uuid (UUID). Organizes forms into logical groups with uniqueness values. | Docs: https://docs.ocrolus.com/reference/grouped-mixed-doc-classification-summary"
      }
    },
    "/v1/book/{pk}/forms": {
      "get": {
        "tags": [
          "Capture"
        ],
        "operationId": "bookForms",
        "summary": "book/{pk}/forms \u2014 Get book form data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Book primary key (integer)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-form-data"
      }
    },
    "/v1/book/{pk}/paystubs": {
      "get": {
        "tags": [
          "Capture"
        ],
        "operationId": "bookPaystubs",
        "summary": "book/{pk}/paystubs \u2014 Get book pay stub data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Book primary key (integer)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-paystub-data"
      }
    },
    "/v1/document/{doc_uuid}/forms": {
      "get": {
        "tags": [
          "Capture"
        ],
        "operationId": "documentForms",
        "summary": "document/{doc_uuid}/forms \u2014 Get document form data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-form-data"
      }
    },
    "/v1/document/{doc_uuid}/paystubs": {
      "get": {
        "tags": [
          "Capture"
        ],
        "operationId": "documentPaystubs",
        "summary": "document/{doc_uuid}/paystubs \u2014 Get document pay stub data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-paystub-data"
      }
    },
    "/v1/form/{form_uuid}/fields": {
      "get": {
        "tags": [
          "Capture"
        ],
        "operationId": "formFields",
        "summary": "form/{form_uuid}/fields \u2014 Get form field data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "form_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: form_uuid (UUID). Returns confidence scores per field (0-1). | Docs: https://docs.ocrolus.com/reference/form-field-data"
      }
    },
    "/v1/paystub/{paystub_uuid}": {
      "get": {
        "tags": [
          "Capture"
        ],
        "operationId": "paystubData",
        "summary": "paystub/{paystub_uuid} \u2014 Get pay stub data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paystub_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Pay stub UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: paystub_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/paystub-data"
      }
    },
    "/v1/book/{pk}/transactions": {
      "get": {
        "tags": [
          "Capture"
        ],
        "operationId": "bookTransactions",
        "summary": "book/{pk}/transactions \u2014 Get book transactions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Book primary key (integer)"
          },
          {
            "name": "uploaded_doc_pk",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter by uploaded document primary key"
          },
          {
            "name": "uploaded_doc_uuid",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by uploaded document UUID",
            "format": "uuid"
          },
          {
            "name": "only_tagged",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Only return tagged transactions (requires distinct_fields=true)"
          },
          {
            "name": "distinct_fields",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return only distinct field values"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: pk (integer). Query params (optional): uploaded_doc_pk, uploaded_doc_uuid, only_tagged, distinct_fields. Alt: /v1/transaction?book_pk=X also works. | Docs: https://docs.ocrolus.com/reference/transactions"
      }
    },
    "/v2/detect/book/{book_uuid}/signals": {
      "get": {
        "tags": [
          "Detect"
        ],
        "operationId": "detectBookSignals",
        "summary": "detect/book/{book_uuid}/signals \u2014 Book-level fraud signals",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Returns authenticity scores (0-100), reason codes, and signal types. | Docs: https://docs.ocrolus.com/reference/book-fraud-signals"
      }
    },
    "/v2/detect/document/{doc_uuid}/signals": {
      "get": {
        "tags": [
          "Detect"
        ],
        "operationId": "detectDocumentSignals",
        "summary": "detect/document/{doc_uuid}/signals \u2014 Document-level fraud signals",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Document UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-fraud-signals"
      }
    },
    "/v2/detect/visualization/{visualization_uuid}": {
      "get": {
        "tags": [
          "Detect"
        ],
        "operationId": "detectVisualization",
        "summary": "detect/visualization/{visualization_uuid} \u2014 Signal visualization",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "visualization_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Visualization UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: visualization_uuid (UUID). Returns binary image with fraud signal overlays. | Docs: https://docs.ocrolus.com/reference/signal-visualization"
      }
    },
    "/v1/book/{book_uuid}/suspicious-activity-flags": {
      "get": {
        "tags": [
          "Detect"
        ],
        "operationId": "suspiciousActivityFlags",
        "summary": "book/{book_uuid}/suspicious-activity-flags \u2014 LEGACY",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "deprecated": true,
        "description": "DEPRECATED. Use /v2/detect/ endpoints instead. Path param: book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/suspicious-activity"
      }
    },
    "/v2/book/{book_uuid}/summary": {
      "get": {
        "tags": [
          "Analyze"
        ],
        "operationId": "bookSummary",
        "summary": "book/{book_uuid}/summary \u2014 Cash flow summary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Returns daily balances, PII, and time series data. | Docs: https://docs.ocrolus.com/reference/book-summary"
      }
    },
    "/v2/book/{book_uuid}/cash_flow_features": {
      "get": {
        "tags": [
          "Analyze"
        ],
        "operationId": "bookCashFlowFeatures",
        "summary": "book/{book_uuid}/cash_flow_features \u2014 Cash flow features",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          },
          {
            "name": "min_days_to_include",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Min days for most recent month (default 0, use 32 for full months only)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Query param: min_days_to_include (integer, optional). | Docs: https://docs.ocrolus.com/reference/cash-flow-features"
      }
    },
    "/v2/book/{book_uuid}/enriched_txns": {
      "get": {
        "tags": [
          "Analyze"
        ],
        "operationId": "bookEnrichedTxns",
        "summary": "book/{book_uuid}/enriched_txns \u2014 Enriched transactions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Returns transactions with categories and tags. | Docs: https://docs.ocrolus.com/reference/enriched-transactions"
      }
    },
    "/v2/book/{book_uuid}/cash_flow_risk_score": {
      "get": {
        "tags": [
          "Analyze"
        ],
        "operationId": "bookCashFlowRiskScore",
        "summary": "book/{book_uuid}/cash_flow_risk_score \u2014 Risk score",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Returns probability of default. | Docs: https://docs.ocrolus.com/reference/risk-score"
      }
    },
    "/v2/book/{book_uuid}/benchmarking": {
      "get": {
        "tags": [
          "Analyze"
        ],
        "operationId": "bookBenchmarking",
        "summary": "book/{book_uuid}/benchmarking \u2014 Benchmarking (Beta)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). NAICS4-based benchmarking. Beta feature."
      }
    },
    "/v2/book/{book_uuid}/lender_analytics/xlsx": {
      "get": {
        "tags": [
          "Analyze"
        ],
        "operationId": "bookLenderAnalyticsXlsx",
        "summary": "book/{book_uuid}/lender_analytics/xlsx \u2014 SMB analytics Excel",
        "produces": [
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Returns .xlsx binary content. | Docs: https://docs.ocrolus.com/reference/analytics-excel"
      }
    },
    "/v2/book/{book_uuid}/income-calculations": {
      "get": {
        "tags": [
          "Income"
        ],
        "operationId": "bookIncomeCalculations",
        "summary": "book/{book_uuid}/income-calculations \u2014 Income calculations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          },
          {
            "name": "guideline",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Guideline: FANNIE_MAE, FREDDIE_MAC, FHA, VA, USDA"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Query param: guideline (string, optional). | Docs: https://docs.ocrolus.com/reference/income-calculations"
      }
    },
    "/v2/book/{book_uuid}/income-summary": {
      "get": {
        "tags": [
          "Income"
        ],
        "operationId": "bookIncomeSummary",
        "summary": "book/{book_uuid}/income-summary \u2014 Income summary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/income-summary"
      }
    },
    "/v2/book/{book_uuid}/income-entity": {
      "post": {
        "tags": [
          "Income"
        ],
        "operationId": "bookIncomeEntity",
        "summary": "book/{book_uuid}/income-entity \u2014 Configure income entity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/income-entity-config",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/book/{book_uuid}/income-guideline": {
      "put": {
        "tags": [
          "Income"
        ],
        "operationId": "bookIncomeGuideline",
        "summary": "book/{book_uuid}/income-guideline \u2014 Save income guideline",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "guideline": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/save-income-guideline",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/book/{book_uuid}/self-employed-income": {
      "post": {
        "tags": [
          "Income"
        ],
        "operationId": "bookSelfEmployedIncome",
        "summary": "book/{book_uuid}/self-employed-income \u2014 Fannie Mae self-employed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "params": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Body: JSON. Call BEFORE income-calculations. | Docs: https://docs.ocrolus.com/reference/self-employed-income-calculation-fm",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/book/{book_uuid}/bsic": {
      "get": {
        "tags": [
          "Income"
        ],
        "operationId": "bookBsic",
        "summary": "book/{book_uuid}/bsic \u2014 BSIC results",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Bank Statement Income Calculator results. | Docs: https://docs.ocrolus.com/reference/bsic"
      }
    },
    "/v2/analytics/tags": {
      "post": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsTagsCreate",
        "summary": "analytics/tags \u2014 Create a transaction tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. | Docs: https://docs.ocrolus.com/reference/create-tag",
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsTagsList",
        "summary": "analytics/tags \u2014 List all tags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "is_system_tag",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter system vs custom tags"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Query param: is_system_tag (boolean, optional). | Docs: https://docs.ocrolus.com/reference/get-all-tags"
      }
    },
    "/v2/analytics/tags/{tag_uuid}": {
      "get": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsTagGet",
        "summary": "analytics/tags/{tag_uuid} \u2014 Retrieve a tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tag_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tag UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: tag_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/get-tag"
      },
      "put": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsTagModify",
        "summary": "analytics/tags/{tag_uuid} \u2014 Modify a tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tag_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tag UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: tag_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/modify-tag",
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsTagDelete",
        "summary": "analytics/tags/{tag_uuid} \u2014 Delete a tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tag_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tag UUID",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: tag_uuid (UUID). System tags cannot be deleted. | Docs: https://docs.ocrolus.com/reference/delete-tag"
      }
    },
    "/v2/analytics/revenue-deduction-tags": {
      "get": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsRevenueDeductionTagsGet",
        "summary": "analytics/revenue-deduction-tags \u2014 Get revenue deduction tags",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Docs: https://docs.ocrolus.com/reference/get-revenue-deduction-tags"
      },
      "put": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsRevenueDeductionTagsUpdate",
        "summary": "analytics/revenue-deduction-tags \u2014 Update revenue deduction tags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "tag_names": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Replaces the full collection. | Docs: https://docs.ocrolus.com/reference/update-revenue-deduction-tag",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/analytics/book/{book_uuid}/transactions": {
      "put": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsBookTransactionsOverride",
        "summary": "analytics/book/{book_uuid}/transactions \u2014 Override transaction tag",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Book UUID",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "txn_pk": {
                  "type": "integer"
                },
                "tag_uuids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/override-transaction-tag",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/book/copy-jobs": {
      "post": {
        "tags": [
          "Encore"
        ],
        "operationId": "bookCopyJobsCreate",
        "summary": "book/copy-jobs \u2014 Create book copy jobs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "jobs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Max 50 jobs per call. | Docs: https://docs.ocrolus.com/reference/create-book-copy-jobs",
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Encore"
        ],
        "operationId": "bookCopyJobsList",
        "summary": "book/copy-jobs \u2014 List book copy jobs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "'outbound' or 'inbound'"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Query param: direction (string, optional \u2014 'outbound' or 'inbound'). | Docs: https://docs.ocrolus.com/reference/list-book-copy-jobs"
      }
    },
    "/v1/book/copy-jobs/{job_id}/accept": {
      "post": {
        "tags": [
          "Encore"
        ],
        "operationId": "bookCopyJobAccept",
        "summary": "book/copy-jobs/{job_id}/accept \u2014 Accept a copy job",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Copy job ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: job_id (string). Body: JSON. | Docs: https://docs.ocrolus.com/reference/copy-jobs-accept",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/book/copy-jobs/{job_id}/reject": {
      "post": {
        "tags": [
          "Encore"
        ],
        "operationId": "bookCopyJobReject",
        "summary": "book/copy-jobs/{job_id}/reject \u2014 Reject a copy job",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Copy job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: job_id (string). | Docs: https://docs.ocrolus.com/reference/copy-jobs-reject"
      }
    },
    "/v1/book/copy-jobs/run-kickouts": {
      "post": {
        "tags": [
          "Encore"
        ],
        "operationId": "bookCopyJobsRunKickouts",
        "summary": "book/copy-jobs/run-kickouts \u2014 Run automated kick-outs",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No params. Runs on all AWAITING_RECIPIENT jobs. | Docs: https://docs.ocrolus.com/reference/run-kick-outs"
      }
    },
    "/v1/settings/book-copy": {
      "get": {
        "tags": [
          "Encore"
        ],
        "operationId": "settingsBookCopy",
        "summary": "settings/book-copy \u2014 Get book copy settings",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No params. | Docs: https://docs.ocrolus.com/reference/get-book-copy-settings-allow-list"
      }
    },
    "/v1/account/settings/webhook": {
      "post": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhookAdd",
        "summary": "account/settings/webhook \u2014 Add org-level webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. | Docs: https://docs.ocrolus.com/reference/add-webhook",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/account/settings/webhooks": {
      "get": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhooksList",
        "summary": "account/settings/webhooks \u2014 List org-level webhooks",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No params. | Docs: https://docs.ocrolus.com/reference/list-webhooks"
      }
    },
    "/v1/account/settings/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhookGet",
        "summary": "account/settings/webhooks/{webhook_id} \u2014 Retrieve webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Webhook ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: webhook_id (string). | Docs: https://docs.ocrolus.com/reference/get-webhook"
      },
      "put": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhookUpdate",
        "summary": "account/settings/webhooks/{webhook_id} \u2014 Update webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Webhook ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: webhook_id (string). Body: JSON. | Docs: https://docs.ocrolus.com/reference/update-webhook",
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhookDelete",
        "summary": "account/settings/webhooks/{webhook_id} \u2014 Delete webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Webhook ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: webhook_id (string). | Docs: https://docs.ocrolus.com/reference/delete-webhook"
      }
    },
    "/v1/account/settings/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhooksEvents",
        "summary": "account/settings/webhooks/events \u2014 List event types",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No params. | Docs: https://docs.ocrolus.com/reference/list-events"
      }
    },
    "/v1/account/settings/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhookTest",
        "summary": "account/settings/webhooks/{webhook_id}/test \u2014 Test webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Webhook ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Path param: webhook_id (string). | Docs: https://docs.ocrolus.com/reference/test-org-webhook"
      }
    },
    "/v1/account/settings/webhooks/secret": {
      "post": {
        "tags": [
          "Webhooks (Org Level)"
        ],
        "operationId": "accountSettingsWebhooksSecret",
        "summary": "account/settings/webhooks/secret \u2014 Configure secret",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "secret": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. Secret must be 16-128 characters. | Docs: https://docs.ocrolus.com/reference/configure-webhook-secret-org-level",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/webhook/configure": {
      "post": {
        "tags": [
          "Webhooks (Account Level)"
        ],
        "operationId": "webhookConfigure",
        "summary": "webhook/configure \u2014 Configure account webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. | Docs: https://docs.ocrolus.com/reference/configure-webhook",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v1/webhook/configuration": {
      "get": {
        "tags": [
          "Webhooks (Account Level)"
        ],
        "operationId": "webhookConfiguration",
        "summary": "webhook/configuration \u2014 Get account webhook config",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No params. | Docs: https://docs.ocrolus.com/reference/webhook-configuration"
      }
    },
    "/v1/webhook/test": {
      "post": {
        "tags": [
          "Webhooks (Account Level)"
        ],
        "operationId": "webhookTest",
        "summary": "webhook/test \u2014 Test account webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "No params. | Docs: https://docs.ocrolus.com/reference/test-webhook"
      }
    },
    "/v1/webhook/secret": {
      "post": {
        "tags": [
          "Webhooks (Account Level)"
        ],
        "operationId": "webhookSecret",
        "summary": "webhook/secret \u2014 Configure account webhook secret",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "secret": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Body: JSON. | Docs: https://docs.ocrolus.com/reference/configure-webhook-secret-account-level",
        "consumes": [
          "application/json"
        ]
      }
    }
  }
}