{
  "openapi": "3.0.3",
  "info": {
    "title": "Ocrolus API",
    "description": "Ocrolus document automation platform API. Covers Classify (document identification), Capture (data extraction), Detect (fraud detection), and Analyze (financial metrics).\n\n## Authentication\nUse OAuth 2.0 client_credentials grant to obtain a Bearer JWT token (24h expiry).\n\n## Key Conventions\n- v1 endpoints use `book_pk` (integer)\n- v2 endpoints use `book_uuid` (UUID string)\n- Never mix them -- v1 rejects UUIDs, v2 rejects PKs\n\n## Validation Note\nSome endpoint paths have conflicting documentation. Run `validate_endpoints.py` against your tenant to confirm paths before production use.",
    "version": "3.0.0",
    "contact": {
      "name": "Ocrolus API Support",
      "url": "https://docs.ocrolus.com"
    }
  },
  "servers": [
    {
      "url": "https://api.ocrolus.com",
      "description": "Production API"
    },
    {
      "url": "https://auth.ocrolus.com",
      "description": "Authentication"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer JWT token (24h expiry, refresh at 12h)"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.ocrolus.com/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status_code": {
            "type": "integer"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 86400
          }
        }
      },
      "Book": {
        "type": "object",
        "properties": {
          "pk": {
            "type": "integer",
            "description": "Book primary key (v1)"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Book UUID (v2)"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FraudSignals": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "doc_uuid": {
                  "type": "string",
                  "format": "uuid"
                },
                "authenticity_score": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100
                },
                "reason_codes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "110-H"
                      },
                      "description": {
                        "type": "string"
                      },
                      "confidence": {
                        "type": "string",
                        "enum": [
                          "HIGH",
                          "MEDIUM",
                          "LOW"
                        ]
                      }
                    }
                  }
                },
                "signals": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 token management"
    },
    {
      "name": "Book Operations",
      "description": "Create, read, update, delete Books (v1, book_pk)"
    },
    {
      "name": "Document Upload",
      "description": "Upload and manage documents within Books"
    },
    {
      "name": "Classification",
      "description": "Document classification / Classify (v2, book_uuid)"
    },
    {
      "name": "Data Extraction",
      "description": "Data extraction / Capture (v1, book_pk)"
    },
    {
      "name": "Fraud Detection",
      "description": "Fraud detection / Detect (v2, book_uuid)"
    },
    {
      "name": "Cash Flow Analytics",
      "description": "Cash flow analytics / Analyze (v2, book_uuid)"
    },
    {
      "name": "Income Calculations",
      "description": "Income calculations (v2, book_uuid)"
    },
    {
      "name": "Tag Management",
      "description": "Transaction tag management (v2, Beta)"
    },
    {
      "name": "Encore / Book Copy",
      "description": "Book copy / Encore operations (v1)"
    },
    {
      "name": "Webhooks (Org)",
      "description": "Organization-level webhook management (recommended)"
    },
    {
      "name": "Webhooks (Account)",
      "description": "Account-level webhook management (legacy)"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "oauthToken",
        "summary": "oauth/token \u2014 Obtain OAuth 2.0 Bearer Token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "example": "client_credentials"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token granted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body: form-encoded (NOT JSON). OAuth 2.0 client_credentials grant. Returns JWT with 24h expiry. No 'audience' param. | Docs: https://docs.ocrolus.com/reference/grant-authentication-token"
      }
    },
    "/v1/book/add": {
      "post": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "bookAdd",
        "summary": "book/add \u2014 Add a new Book",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "CORRECTED from /v1/book/create. Returns pk (int) and uuid (str). Body: JSON. | Docs: https://docs.ocrolus.com/reference/create-a-book",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "book_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/delete": {
      "post": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "bookDelete",
        "summary": "book/delete \u2014 Delete a Book",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body: JSON. Exactly one of book_id (integer) or book_uuid (UUID string). | Docs: https://docs.ocrolus.com/reference/delete-a-book",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "book_id": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/update": {
      "post": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "bookUpdate",
        "summary": "book/update \u2014 Update Book properties",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body: JSON. Provide pk (integer) or book_uuid (UUID string) + fields to update. | Docs: https://docs.ocrolus.com/reference/update-book",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pk": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/{pk}": {
      "get": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "bookInfo",
        "summary": "book/{pk} \u2014 Get Book information",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-info",
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "description": "Book primary key (integer)",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v1/books": {
      "get": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "booksList",
        "summary": "books \u2014 List all Books",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Query params: page, per_page (both optional). | Docs: https://docs.ocrolus.com/reference/book-list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v1/book/status": {
      "get": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "bookStatus",
        "summary": "book/status \u2014 Get Book processing status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Query param: book_pk (integer). Alt path: /v1/book/{pk}/status also works. | Docs: https://docs.ocrolus.com/reference/book-status",
        "parameters": [
          {
            "name": "book_pk",
            "in": "query",
            "required": true,
            "description": "Book primary key",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v1/book/loan/{loan_id}": {
      "get": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "bookFromLoan",
        "summary": "book/loan/{loan_id} \u2014 Get Book from loan",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: loan_id (string). | Docs: https://docs.ocrolus.com/reference/book-from-loan",
        "parameters": [
          {
            "name": "loan_id",
            "in": "path",
            "required": true,
            "description": "Loan identifier",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/book/{pk}/loan": {
      "get": {
        "tags": [
          "Book Operations"
        ],
        "operationId": "bookLoan",
        "summary": "book/{pk}/loan \u2014 Get loan from Book",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/loan-from-book",
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "description": "Book primary key (integer)",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v1/book/upload": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "bookUpload",
        "summary": "book/upload \u2014 Upload a PDF document",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). Max 200MB. form_type and doc_name optional. | Docs: https://docs.ocrolus.com/reference/upload-document",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "pk": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  },
                  "upload": {
                    "type": "string",
                    "format": "binary"
                  },
                  "form_type": {
                    "type": "string"
                  },
                  "doc_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/upload/mixed": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "bookUploadMixed",
        "summary": "book/upload/mixed \u2014 Upload a mixed document PDF",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). Multiple doc types in single PDF. | Docs: https://docs.ocrolus.com/reference/upload-mixed-document",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "pk": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  },
                  "upload": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/upload/paystub": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "bookUploadPaystub",
        "summary": "book/upload/paystub \u2014 Upload a pay stub PDF",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-paystub",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "pk": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  },
                  "upload": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/upload/image": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "bookUploadImage",
        "summary": "book/upload/image \u2014 Upload an image",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Form: multipart/form-data. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-image",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "pk": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  },
                  "upload": {
                    "type": "string",
                    "format": "binary"
                  },
                  "image_group": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/finalize-image-group": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "bookFinalizeImageGroup",
        "summary": "book/finalize-image-group \u2014 Finalize an image group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body: JSON. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mark-image-group-complete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pk": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  },
                  "image_group": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/upload/plaid": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "bookUploadPlaid",
        "summary": "book/upload/plaid \u2014 Upload Plaid aggregator JSON",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body: JSON. Provide pk (integer) or book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/upload-json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pk": {
                    "type": "integer"
                  },
                  "book_uuid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book/import/plaid/asset": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "bookImportPlaidAsset",
        "summary": "book/import/plaid/asset \u2014 Import Plaid Asset Report",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body: JSON. Production only. Requires auditor_id: 'ocrolus'. | Docs: https://docs.ocrolus.com/reference/import-plaid-asset-report",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audit_copy_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/document/{doc_uuid}/cancel": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "documentCancel",
        "summary": "document/cancel \u2014 Cancel document verification",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: doc_uuid (UUID). Body (JSON, optional): doc_pk or doc_uuid, accept_charges. Official spec also supports query-param style: /v1/document/cancel?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/cancel-file-verification",
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doc_pk": {
                    "type": "integer"
                  },
                  "doc_uuid": {
                    "type": "string"
                  },
                  "accept_charges": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/document/{doc_uuid}/delete": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "documentDelete",
        "summary": "document/remove \u2014 Delete a document",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: doc_uuid (UUID). Body (JSON): doc_id (integer) or doc_uuid (UUID). Official spec also supports query-param style: /v1/document/remove?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/delete-a-file",
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doc_id": {
                    "type": "integer"
                  },
                  "doc_uuid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/document/{doc_uuid}/download": {
      "get": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "documentDownload",
        "summary": "document/{doc_uuid}/download \u2014 Download a document file",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/document-download",
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/document/{doc_uuid}/upgrade": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "documentUpgrade",
        "summary": "document/upgrade \u2014 Upgrade document processing",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: doc_uuid (UUID). Body (JSON): doc_pk or doc_uuid + upgrade_type. Official spec also supports: /v1/document/upgrade?doc_uuid=X | Docs: https://docs.ocrolus.com/reference/upgrade-doc",
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "doc_pk": {
                    "type": "integer"
                  },
                  "doc_uuid": {
                    "type": "string"
                  },
                  "upgrade_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/document/mixed/upgrade": {
      "post": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "documentMixedUpgrade",
        "summary": "document/mixed/upgrade \u2014 Upgrade mixed document",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body (JSON): mixed_doc_pk (integer) or mixed_doc_uuid (UUID) + upgrade_type. | Docs: https://docs.ocrolus.com/reference/upgrade-mixed-doc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mixed_doc_pk": {
                    "type": "integer"
                  },
                  "mixed_doc_uuid": {
                    "type": "string"
                  },
                  "upgrade_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/document/mixed/status": {
      "get": {
        "tags": [
          "Document Upload"
        ],
        "operationId": "documentMixedStatus",
        "summary": "document/mixed/status \u2014 Get mixed document status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Query params: exactly one of pk (integer), doc_uuid (UUID), or mixed_doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mixed-document-status",
        "parameters": [
          {
            "name": "pk",
            "in": "query",
            "required": false,
            "description": "Mixed document primary key",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "doc_uuid",
            "in": "query",
            "required": false,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mixed_doc_uuid",
            "in": "query",
            "required": false,
            "description": "Mixed document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/classification-summary": {
      "get": {
        "tags": [
          "Classification"
        ],
        "operationId": "bookClassificationSummary",
        "summary": "book/{book_uuid}/classification-summary \u2014 Book classification",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Identifies 300+ document types with confidence scores (0-1). | Docs: https://docs.ocrolus.com/reference/book-classification-summary",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/mixed-document/{mixed_doc_uuid}/classification-summary": {
      "get": {
        "tags": [
          "Classification"
        ],
        "operationId": "mixedDocClassificationSummary",
        "summary": "mixed-document/{mixed_doc_uuid}/classification-summary",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: mixed_doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/mixed-doc-classification-summary",
        "parameters": [
          {
            "name": "mixed_doc_uuid",
            "in": "path",
            "required": true,
            "description": "Mixed document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/index/mixed-doc/{mixed_doc_uuid}/summary": {
      "get": {
        "tags": [
          "Classification"
        ],
        "operationId": "groupedMixedDocSummary",
        "summary": "index/mixed-doc/{mixed_doc_uuid}/summary \u2014 Grouped classification",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: mixed_doc_uuid (UUID). Organizes forms into logical groups with uniqueness values. | Docs: https://docs.ocrolus.com/reference/grouped-mixed-doc-classification-summary",
        "parameters": [
          {
            "name": "mixed_doc_uuid",
            "in": "path",
            "required": true,
            "description": "Mixed document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/book/{pk}/forms": {
      "get": {
        "tags": [
          "Data Extraction"
        ],
        "operationId": "bookForms",
        "summary": "book/{pk}/forms \u2014 Get book form data",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-form-data",
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "description": "Book primary key (integer)",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v1/book/{pk}/paystubs": {
      "get": {
        "tags": [
          "Data Extraction"
        ],
        "operationId": "bookPaystubs",
        "summary": "book/{pk}/paystubs \u2014 Get book pay stub data",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: pk (integer). | Docs: https://docs.ocrolus.com/reference/book-paystub-data",
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "description": "Book primary key (integer)",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v1/document/{doc_uuid}/forms": {
      "get": {
        "tags": [
          "Data Extraction"
        ],
        "operationId": "documentForms",
        "summary": "document/{doc_uuid}/forms \u2014 Get document form data",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-form-data",
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/document/{doc_uuid}/paystubs": {
      "get": {
        "tags": [
          "Data Extraction"
        ],
        "operationId": "documentPaystubs",
        "summary": "document/{doc_uuid}/paystubs \u2014 Get document pay stub data",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-paystub-data",
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/form/{form_uuid}/fields": {
      "get": {
        "tags": [
          "Data Extraction"
        ],
        "operationId": "formFields",
        "summary": "form/{form_uuid}/fields \u2014 Get form field data",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: form_uuid (UUID). Returns confidence scores per field (0-1). | Docs: https://docs.ocrolus.com/reference/form-field-data",
        "parameters": [
          {
            "name": "form_uuid",
            "in": "path",
            "required": true,
            "description": "Form UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/paystub/{paystub_uuid}": {
      "get": {
        "tags": [
          "Data Extraction"
        ],
        "operationId": "paystubData",
        "summary": "paystub/{paystub_uuid} \u2014 Get pay stub data",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: paystub_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/paystub-data",
        "parameters": [
          {
            "name": "paystub_uuid",
            "in": "path",
            "required": true,
            "description": "Pay stub UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/book/{pk}/transactions": {
      "get": {
        "tags": [
          "Data Extraction"
        ],
        "operationId": "bookTransactions",
        "summary": "book/{pk}/transactions \u2014 Get book transactions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: pk (integer). Query params (optional): uploaded_doc_pk, uploaded_doc_uuid, only_tagged, distinct_fields. Alt: /v1/transaction?book_pk=X also works. | Docs: https://docs.ocrolus.com/reference/transactions",
        "parameters": [
          {
            "name": "pk",
            "in": "path",
            "required": true,
            "description": "Book primary key (integer)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "uploaded_doc_pk",
            "in": "query",
            "required": false,
            "description": "Filter by uploaded document primary key",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "uploaded_doc_uuid",
            "in": "query",
            "required": false,
            "description": "Filter by uploaded document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "only_tagged",
            "in": "query",
            "required": false,
            "description": "Only return tagged transactions (requires distinct_fields=true)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "distinct_fields",
            "in": "query",
            "required": false,
            "description": "Return only distinct field values",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/v2/detect/book/{book_uuid}/signals": {
      "get": {
        "tags": [
          "Fraud Detection"
        ],
        "operationId": "detectBookSignals",
        "summary": "detect/book/{book_uuid}/signals \u2014 Book-level fraud signals",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Returns authenticity scores (0-100), reason codes, and signal types. | Docs: https://docs.ocrolus.com/reference/book-fraud-signals",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/detect/document/{doc_uuid}/signals": {
      "get": {
        "tags": [
          "Fraud Detection"
        ],
        "operationId": "detectDocumentSignals",
        "summary": "detect/document/{doc_uuid}/signals \u2014 Document-level fraud signals",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: doc_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/doc-fraud-signals",
        "parameters": [
          {
            "name": "doc_uuid",
            "in": "path",
            "required": true,
            "description": "Document UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/detect/visualization/{visualization_uuid}": {
      "get": {
        "tags": [
          "Fraud Detection"
        ],
        "operationId": "detectVisualization",
        "summary": "detect/visualization/{visualization_uuid} \u2014 Signal visualization",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: visualization_uuid (UUID). Returns binary image with fraud signal overlays. | Docs: https://docs.ocrolus.com/reference/signal-visualization",
        "parameters": [
          {
            "name": "visualization_uuid",
            "in": "path",
            "required": true,
            "description": "Visualization UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/book/{book_uuid}/suspicious-activity-flags": {
      "get": {
        "tags": [
          "Fraud Detection"
        ],
        "operationId": "suspiciousActivityFlags",
        "summary": "book/{book_uuid}/suspicious-activity-flags \u2014 LEGACY",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "description": "DEPRECATED. Use /v2/detect/ endpoints instead. Path param: book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/suspicious-activity",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/summary": {
      "get": {
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "bookSummary",
        "summary": "book/{book_uuid}/summary \u2014 Cash flow summary",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Returns daily balances, PII, and time series data. | Docs: https://docs.ocrolus.com/reference/book-summary",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/cash_flow_features": {
      "get": {
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "bookCashFlowFeatures",
        "summary": "book/{book_uuid}/cash_flow_features \u2014 Cash flow features",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Query param: min_days_to_include (integer, optional). | Docs: https://docs.ocrolus.com/reference/cash-flow-features",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "min_days_to_include",
            "in": "query",
            "required": false,
            "description": "Min days for most recent month (default 0, use 32 for full months only)",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/enriched_txns": {
      "get": {
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "bookEnrichedTxns",
        "summary": "book/{book_uuid}/enriched_txns \u2014 Enriched transactions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Returns transactions with categories and tags. | Docs: https://docs.ocrolus.com/reference/enriched-transactions",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/cash_flow_risk_score": {
      "get": {
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "bookCashFlowRiskScore",
        "summary": "book/{book_uuid}/cash_flow_risk_score \u2014 Risk score",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Returns probability of default. | Docs: https://docs.ocrolus.com/reference/risk-score",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/benchmarking": {
      "get": {
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "bookBenchmarking",
        "summary": "book/{book_uuid}/benchmarking \u2014 Benchmarking (Beta)",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). NAICS4-based benchmarking. Beta feature.",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/lender_analytics/xlsx": {
      "get": {
        "tags": [
          "Cash Flow Analytics"
        ],
        "operationId": "bookLenderAnalyticsXlsx",
        "summary": "book/{book_uuid}/lender_analytics/xlsx \u2014 SMB analytics Excel",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Returns .xlsx binary content. | Docs: https://docs.ocrolus.com/reference/analytics-excel",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/income-calculations": {
      "get": {
        "tags": [
          "Income Calculations"
        ],
        "operationId": "bookIncomeCalculations",
        "summary": "book/{book_uuid}/income-calculations \u2014 Income calculations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Query param: guideline (string, optional). | Docs: https://docs.ocrolus.com/reference/income-calculations",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "guideline",
            "in": "query",
            "required": false,
            "description": "Guideline: FANNIE_MAE, FREDDIE_MAC, FHA, VA, USDA",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/income-summary": {
      "get": {
        "tags": [
          "Income Calculations"
        ],
        "operationId": "bookIncomeSummary",
        "summary": "book/{book_uuid}/income-summary \u2014 Income summary",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). | Docs: https://docs.ocrolus.com/reference/income-summary",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/book/{book_uuid}/income-entity": {
      "post": {
        "tags": [
          "Income Calculations"
        ],
        "operationId": "bookIncomeEntity",
        "summary": "book/{book_uuid}/income-entity \u2014 Configure income entity",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/income-entity-config",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/book/{book_uuid}/income-guideline": {
      "put": {
        "tags": [
          "Income Calculations"
        ],
        "operationId": "bookIncomeGuideline",
        "summary": "book/{book_uuid}/income-guideline \u2014 Save income guideline",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Body: JSON. | Docs: https://docs.ocrolus.com/reference/save-income-guideline",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "guideline": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/book/{book_uuid}/self-employed-income": {
      "post": {
        "tags": [
          "Income Calculations"
        ],
        "operationId": "bookSelfEmployedIncome",
        "summary": "book/{book_uuid}/self-employed-income \u2014 Fannie Mae self-employed",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Body: JSON. Call BEFORE income-calculations. | Docs: https://docs.ocrolus.com/reference/self-employed-income-calculation-fm",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/book/{book_uuid}/bsic": {
      "get": {
        "tags": [
          "Income Calculations"
        ],
        "operationId": "bookBsic",
        "summary": "book/{book_uuid}/bsic \u2014 BSIC results",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Path param: book_uuid (UUID). Bank Statement Income Calculator results. | Docs: https://docs.ocrolus.com/reference/bsic",
        "parameters": [
          {
            "name": "book_uuid",
            "in": "path",
            "required": true,
            "description": "Book UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v2/analytics/tags": {
      "post": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsTagsCreate",
        "summary": "analytics/tags \u2014 Create a transaction tag",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Body: JSON. | Docs: https://docs.ocrolus.com/reference/create-tag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Tag Management"
        ],
        "operationId": "analyticsTagsList",
        "summary": "analytics/tags \u2014 List all tags",
        "responses": {
          "200": {
[...]
